/*Autor: David Silva Vega - 2º DAW (2024/2025) - Escuela Virgen de Guadalupe*/

/*Este es el estilo que tendrá por defecto toda la página*/
body{
	font-family: Verdana, sans-serif; /*Esta es la fuente elegida para la web*/
	background-color: #ccdbfd; /*Color por defecto para el fondo. Azul claro*/
	margin: 0 auto; /*Centrado de página web*/
	max-width: 1280px; /*Resolución exigida: 1280px*/
}

/*Cabecera del contenido. Para el índice tiene ligeramente más amplitud vertical que para las otras dos páginas*/
header{
	background-image: url('../img/portada2.jpg');/*Imagen de fondo de la cabecera, con la ruta al archivo jpg*/
	height: 200px; /*Altura de la imagen*/
	text-align: center; /*Usado para centrar el texto*/
}

/*Estilo del h1 dentro de la etiqueta header*/
header > h1 {
	margin-block: 0px 0px; /* Sin este comando, me creaba un espacio por 
							encima de la imagen en chrome*/
	line-height: 200px; /* Para centrar verticalmente el texto, 
						usando la misma altura que el <header>*/
	font-size: 2em; /* Ajusto el tamaño de la fuente acorde a la visualización */
	color: white; /* Color blanco para hacer contraste con la imagen */
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Pongo sombra para resaltar ligeramente el texto */
	background-color: rgba(0, 0, 0, 0.5); /* Para oscurecer la imagen y que se distingan las letras */
}

/*Establezco el tamaño que tiene que tener la imagen de la cabecera*/
header > img {
	height: 200px;
	width: 1280px;
}

/*Barra horizontal donde voy a alojar los enlaces a las páginas*/
nav{
	background-color: #2a5791; /*Color azul un poco más oscuro para que la barra resalte*/
	height: 30px;/*Altura de la barra*/
}

/*El elemento div va dentro de nav, le pongo la misma altura para que cuadre*/
div{
	height: 30px;
}

/*bloques en línea que llevan dentro los enlaces a las páginas*/
a{
	color: white; /*Color de texto para eliminar el típico color azul de los enlaces*/
	line-height: 30px; /*Lo uso para centrar verticalmente el texto con el tamaño de la caja*/
	text-decoration: none; /* Quita el subrayado del enlace */
	font-weight: bold; /*Añado estilo negrita a las letras*/
	padding: 3.5px 15px; /*Ubico el texto en una posición centrada y con espacio entre las palabras*/
}

/*Establezco margenes a la tabla*/
table {
	margin-top: 200px; /*Margen por arriba para que no me quede pegado al nav*/
	margin-left: auto; /*Margenes a la izquierda y a la derecha automáticos para centrar la tabla*/
	margin-right: auto;
}

/*Estilos para dar color y el formato de los bordes de la tabla*/
table, th, tr, td{
	border: solid; /*Borde normal*/
	border-collapse: collapse; /*Uno los bordes de cada celda */
	color: #2a5791; /* Mismo color que la barra de navegación*/
}

/*A la primera fila le añado un poco mas de altura y el texto lo pongo en negrita*/
th{
	height: 35px; 
	font-weight: bold;
	background-color: #8da9c4;
}

/*Para las otras filas*/
td{
	text-align: center; /*Alineacion horizontal al centro*/
	height: 25px; /*Altura de las celdas*/
	background-color: white;
} 

/*Ancho para la primera columna*/
th:nth-of-type(1), td:nth-of-type(1){
	width: 100px;
}

/*Ancho para la segunda columna*/
th:nth-of-type(2), td:nth-of-type(2){
	width: 300px;
}

/*Etiqueta para crear el 2 en superíndice para indicar los km cuadrados*/
sup {
	vertical-align: super;
	font-size: smaller;
}